@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to ABC Healthcare</p>
    <p>
        <img src="~/images/homeimg/rb_2148485635.png" style="height:450px;" width:"500px" />

    </p>
</div>
